<div id="main" class="container justify-content-center">
    <h2>
        <p>Cart ID: {{cart._id}}</p>
    </h2>
    <label for="#products"><h3>Productos</h3></label>
    <div id="products" class="row justify-content-center">
        {{#each cart.products}}
            <div key={{this.product._id}} id={{this._id}}  class="product col-3"> 
                <div class="card" width= "18rem" >
                    <img src={{this.product.thumbnail}} class="card-img-top img-fluid btn" alt={{this.product.title}} />
                    <div class="card-body">
                        <h5 id="title_{{this.product._id}}" class="card-title">{{this.product.title}}</h5>
                        <label for="price_{{this.product._id}}">Precio: $</label>
                        <p id="price_{{this.product._id}}" class="card-text">{{this.product.price}}</p>
                        <label for="quantity_{{this.product._id}}">Cantidad:</label>
                        <p id="quantity_{{this.product._id}}" class="card-text">{{this.quantity}}</p>
                        <label for="description_{{this.product._id}}">Descripción</label>
                        <p id="description_{{this.product._id}}" class="card-text">{{this.product.description}}</p> 
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>