<div id="main" class="container justify-content-center">
    
    <nav class="row" aria-label="...">
        <ul class="pagination justify-content-center">
            {{#if hasPrevPage}}
            <li class="page-item enable">
                <a class="page-link" href={{products.prevLink}}>Previous</a>
            </li>
            {{else}}
            <li class="page-item disabled">
                <a class="page-link" href={{products.prevLink}}>Previous</a>
            </li>
            {{/if}}
            {{#each pages}}
                {{#if this.isCurrentPage}}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href={{this.link}}>{{this.page}}</a>
                </li>
                {{else}}   
                <li class="page-item"><a class="page-link" href={{this.link}}>{{this.page}}</a></li>
                {{/if}}
            {{/each}}
            {{#if hasNextPage}}
                <li class="page-item enable">
                    <a class="page-link" href={{products.nextLink}}>Next</a>
                </li>
            {{else}}
                <li class="page-item disable">
                    <a class="page-link" href={{products.nextLink}}>Next</a>
                </li>
            {{/if}}
        </ul>
    </nav>
    <div id="products" class="row justify-content-center">
        {{#each products.payload}}
            <div key={{this._id}} id={{this._id}}  class="product col-3"> 
                <div class="card" width= "18rem" >
                    <img src={{this.thumbnail}} class="card-img-top img-fluid btn" alt={{this.title}} />
                    <div class="card-body">
                        <h5 id="title_{{this._id}}" class="card-title">{{this.title}}</h5>
                        <label for="price_{{this._id}}">Precio: $</label>
                        <p id="price_{{this._id}}" class="card-text">{{this.price}}</p>
                        <label for="stock_{{this._id}}">Stock:</label>
                        <p id="stock_{{this._id}}" class="card-text">{{this.stock}}</p>
                        <label for="description_{{this._id}}">Descripción</label>
                        <p id="description_{{this._id}}" class="card-text">{{this.description}}</p> 
                        <button id="add_button_{{this._id}}" class="btn btn-primary">Añadir a carrito</button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script src="/js/products.js"></script>