<div class="container-fluid m-2 d-flex justify-content-center">
    <div class="row">
        {{#if user}}
           
            <h1 class="col">Tu perfil (sin datos sensibles)</h1>
            <div class="col card card-body shadow-lg bg-body rounded d-flex justify-content-center">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p >Nombre: {{user.name}}</p>
                    </li>
                    <li class="list-group-item">
                        <p >Mail: {{user.email}}</p>
                    </li>
                    <li class="list-group-item">
                        <p> Edad: {{#if user.age}}{{user.age}}{{else}}Not provided{{/if}}</p>
                    </li>
                </ul>
                <div class=" card-text">
                </div>
            </div>
            <div class="col">
                <button id='backButton' class="btn btn-primary">Volver</button>
            </div>
        {{else}}
            
        {{/if}}
    </div>
<div>
<script src="/js/profile.js"></script>